.container {
  width: 90%;
  height: 90%;
  border: solid 1px;
  border-radius: 1%;
  background-color: white;
  box-shadow: 0 0 10px 0px #b8c2c6;
  font-family: 'Karla', sans-serif;
}

button {
  background-color: #bfdf32;
  color: #f0f0ee;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 30px;
  padding: 20px auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.subbox{
  width:  45%;
  height: 200px;
  margin:  5px;
  padding: 5px;
  display: inline-block;
}
